.alertMessage {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 100px;
    z-index: 99;
    min-width: auto;
    width: 95%;
    text-align: center;
    svg {
        margin-right: 10px;
        min-width: 24px;
    }
}

@media screen and (min-width:800px) {
    .alertMessage {
        width: auto;
    }
}