.clubCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1340px;
    position: relative;
    border: 1px solid $borderBlue;
    padding: 20px;
    margin: 20px 0;
    .clubInfosAndManagerAndBtns {
        position: relative;
        .logoAndInfos {
            display: flex;
            flex-direction: column;
            width: 100%;
            .logo {
                border: 1px solid $borderBlue;
                width: 300px;
                max-width: 60%;
                margin: 0 0 15px 0;
                align-self: center;
            }
            .clubInfos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .id {
                    margin: 0;
                }
                .name {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .addressInfos {
                    .address {
                        margin: 0;
                    }
                    .zipAndCity {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        hr {
            background: $mainBlue;
        }
        .managerInfos {
            margin-top: 20px;
            .name {
                font-weight: 600;
            }
            .phone, .email {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 10px;
                }
                
            }
        }
        .actionBtns {
            display: flex;
            justify-content: center;
            align-items: center;
            .button {
                margin: 5px;
                a{
                    .contentSvg {
                        svg {
                            margin-right: 0;
                        }
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }
    form {
        align-self: center;
        #permissionsFieldset {
            border: none;
            background: none;
            max-height: 0;
            overflow: hidden;
            legend {
                display: flex;
                align-items: center;
                transition: width 500ms ease-in;
                cursor: pointer;
                .chevron-down {
                    margin-left: 15px;
                    min-width: 24px;
                    transition: transform 500ms;
                }
            }
            .permissionsList {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .switchPermission {
                    display: flex;
                    align-items: center;
                    margin: 20px;
                    width: 100%;
                    max-width: 300px;
                    div {
                        width: 60px;
                        height: 30px;
                    }
                    .permissionName {
                        margin-left: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .clubCard {
        .clubInfosAndManagerAndBtns {
            .logoAndInfos {
                flex-direction: row;
                .logo {
                    margin: 0 15px 0 0;
                    align-self: flex-start;
                }
            }
        }
    }
}


@media screen and (min-width: 546px) {
    .clubCard {
        .clubInfosAndManagerAndBtns {
            .actionBtns {
                .button {
                    a{
                        .contentSvg {
                            svg {
                                margin-right: 15px;
                            }
                        }
                        span {
                            display: inline;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 800px) {
    .clubCard {
        .clubInfosAndManagerAndBtns {
            hr {
                display: none;
            }
            .actionBtns {
                position: absolute;
                right: 0;
                bottom: 0;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                .button {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 823px) {
    .clubCard {
        form {
            #permissionsFieldset {
                .permissionsList {
                    justify-content: start;
                    margin: 0 auto;
                    max-width: 680px;
                }
            }
        }
    }
}

@media screen and (min-width: 1260px) {
    .clubCard {
        form {
            #permissionsFieldset {
                .permissionsList {
                    max-width: 1020px;
                }
            }
        }
    }
}