.footer {
    position: absolute;
    bottom: -85px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: $mainBlue;
    padding: 5px 0;
    .copyright {
        text-align: center;
        color: white;
    }
}