.sportClipartAndFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: -485px;
    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        background: $mainBlue;
        padding: 5px 0;
        .copyright {
            text-align: center;
            color: white;
        }
    }
}