.partnerListItem {
    background: $itemBgBlue;
    width: 100%;
    max-width: 500px;
    list-style: none;
    border: 1px solid $borderBlue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
    .logoAndInfos {
        display: flex;
        flex-direction: column;
        .logo {
            max-width: 200px;
            background: $mainBlueBg;
            border: 1px solid $borderBlue;
            padding-top: 5px;
            align-self: center;
        }
        .partnerInfos {
            margin: 20px 0;
            color: $mainBlue;
            .id {
                margin: 0;
            }
            .name {
                font-weight: 600;
                margin: 5px 0;
            }
            .description {
                width: 100%;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin-bottom: 10px;
            }
        }
    }
    .actionBtns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: white;
            background: $mainBlue;
            padding: 10px;
            display: flex;
            align-items: center;
            svg {
                margin-right: 15px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .partnerListItem {
        height: 300px;
        .logoAndInfos {
            flex-direction: row;
            .logo {
                margin-right: 15px;
                align-self: auto;
            }
            .partnerInfos {
                margin: 0;
                width: 265px;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .partnerListItem {
        margin: 30px;
    }
}