.sportClipart {
    filter: invert(11%) sepia(99%) saturate(1005%) hue-rotate(188deg) brightness(93%) contrast(92%);   
    animation: fadein linear 500ms;
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 500px;
}