.switchPermission {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;
    max-width: 300px;
    div {
        width: 60px;
        height: 30px;
    }
    span {
        margin-left: 20px;
        cursor: pointer;
    }
}