@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

$mainFont: 'Montserrat', sans-serif;

$mainBlue: #112D4E;
$borderBlue: #3F72AE;
$itemBgBlue: #BECEE1;
$mainBlueBg: #EDF1F4;
$switchOffBg: #ECACAC;

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: $mainBlueBg;
    font-family: $mainFont;
}


#root {
    background-color: $mainBlueBg;
    font-family: $mainFont;
    color: $mainBlue;
    min-height: calc(100vh - 85px);
    position: relative;
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 40px;
        border-bottom: 1px solid $mainBlue;
        padding-bottom: 5px;
        width: 100%;
        max-width: 1500px;
        text-align: center;
    }
    h1 {
        font-size: 30px;
        color: $mainBlue;
    }
    a {
        text-decoration: none;
        &:hover {
            color: white;
            opacity: 0.8;
        }
    }
    .telCom, .emailCom {
        text-decoration: none;
        color: $mainBlue;
        &:hover {
            color: $mainBlue;
            opacity: 0.8;
        }
    }
    ul {
        list-style: none;
    }
    form {
        width: 95%;
        max-width: 1340px;
        display: flex;
        flex-direction: column;
        .formItem {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            max-width: 300px;
            .errorItem {
                font-size: 0.7em;
                font-weight: 600;
                font-style: italic;
                color: #7D1D1D;
                background: #ECACAC;
                padding: 2px;
                width: auto;
            }
        }
        label {
            margin: 0;
        }
        input, textarea {
            border: 1px solid #3F72AE;
            font-size: 18px;
            padding: 5px 10px;         
        }
        input {
            max-width: 300px;
            width: 100%;
        }
        .description {
            max-width: 100%;
        }
        fieldset {
            border: solid 1px $borderBlue;
            padding: 5px 10px;
            background: $itemBgBlue;
            margin-bottom: 20px;
            legend {
                font-size: 25px;
                background: $mainBlue;
                padding: 0 20px;
                color: white;
                width: auto;
                text-align: center;
            }
        }
        .actionBtns {
            margin: 0;
        }
        .validateFormBtn {
            color: $mainBlueBg;
            background: $mainBlue;
            padding: 10px;
            border: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                color: white;
                opacity: 0.8;
            }
            svg {
                margin-right: 0;
            }
            span {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 400px) {
#root {
    form {
        .validateFormBtn {
            svg {
                margin-right: 15px;
            }
            span {
                display: inline;
            }
        }
    }
}
}

@media screen and (min-width: 800px) {
    #root {
        .header {
            flex-direction: row;
        }
        form {
            .formItem {
                label {
                    margin-right: 10px;
                    justify-self: center;
                }       
            }
            fieldset {
                legend {
                    text-align: start;
                }
            }
        }
    }
}