.e404 {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1720px;
    margin: 0 auto;
    animation: fadein linear 500ms;
    h1 {
        font-size: 2em;
        color: $mainBlue;
        text-align: center;
    }
    .logo {
        max-width: 95%;
    }
    .messageContent {
        text-align: center;
        font-size: 1.5em;
        margin: 100px 0;
        background: $itemBgBlue;
        border: 1px solid $borderBlue;
        padding: 10px 50px;
    }
    .button {
        margin: 0 0 30px 0;
        svg {
            margin-right: 15px;
        }
        span {
            display: inline;
        }
    }

}