.forgottenPassword {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1720px;
    margin: 0 auto;
    animation: fadein linear 500ms;
    .forgottenPwdRule {
        width: 95%;
        max-width: 1340px;
        text-align: center;
    }
    form {
        .infosGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 721px;
        }
        .actionBtns {
            display: flex;
            justify-content: space-between;
            .button, button {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .forgottenPassword {
        padding: 20px 50px;
        h1 {
            align-self: flex-start;
        }
        .forgottenPwdRule {
            text-align: start;
        }
        form {
            .infosGroup {
                flex-direction: row;
                align-items: flex-start;
                .formItem {
                    margin: 0 20px 0 0;
                }
            }
            .actionBtns {
                max-width: 620px;
            }
        }
    }
}