.home {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1720px;
    margin: 0 auto;
    animation: fadein linear 500ms;
    .abdos {
        align-self: flex-end;
        max-width: 500px;
        filter: invert(11%) sepia(99%) saturate(1005%) hue-rotate(188deg) brightness(93%) contrast(92%);
        margin: 20px 50px;
    }
}