.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadein linear 500ms;
    .logo {
        margin: 50px 0;
        width: 95%;
        max-width: 300px;
    }
    #loginForm {
        border: 1px solid $borderBlue;
        background: $itemBgBlue;
        padding: 30px 0 50px 0;
        width: 95%;
        max-width: 500px;
        .formItem {
            align-items: start;
            margin: 20px auto;
            width: 95%;
            max-width: 400px;
            input {
                max-width: 100%;
            }
        }
        #validateFormBtn {
            color: $mainBlueBg;
            align-self: center;
            svg {
                margin-right: 15px;
            }
            span {
                display: inline;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .login {
        #loginForm {
            .formItem {
                flex-direction: column;
            }
        }
    }
}